@use "./variables.scss" as *;
@use "./base.scss";

$red: #AF3029;
$orange: #BC5215;
$yellow: #AD8301;
$green: #66800B;
$cyan: #24837B;
$blue: #205EA6;
$purple: #5E409D;
$magenta: #A02F6F;

/* Sidebar top margins */
.left.sidebar,
.right.sidebar {
  margin-top: 2.4rem !important;
}

/* Top of note area */
.breadcrumb-container {
  font-size: 0.9em;

  & a {
    color: #ffffff;
    font-style: italic;
    font-weight: 300;
  }
}

.article-title {
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
}

.content-meta {
  color: var(--gray);
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.tags {
  font-size: 0.8em;
  margin-top: 0 !important;
}

a.tag-link {
  color: var(--darkgray);
  background-color: var(--lightgray) !important;
}

/* Explorer */

.folder-outer {
  font-size: 0.9rem;

  & li {
    margin: 0.4em 0;
  }
}

/* Recent notes */

.recent-notes {
  & .recent-ul {
    font-size: 0.85rem;

    & h3 {
      font-size: 1rem;
    }
  }

  & > ul.recent-ul > li {
    margin: 0;
  }

  & .tag-link {
    display: none;
  }
}

/* Others */
.page {
  & article {
    & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
      border-bottom: 1px solid var(--lightgray);
      font-size: 1rem;
      padding-bottom: 0.3em;
    }

    & > h1 {
      font-size: 1.1rem;
      color: $red;
    }

    & > h2 {
      color: $orange;
    }

    & > h3 {
      color: $yellow;
    }

    & > h4 {
      color: $green;
    }

    & > h5 {
      color: $cyan;
    }

    & > h6 {
      color: $purple;
    }
  }

  & .page-header {
    @media all and (max-width: $fullPageWidth) {
      margin-top: 1rem;
    }
  }
}

.page-title {
  font-size: 1.4rem;

  & a {
    color: var(--dark);
  }
}

// Table Hover Highlight

.table-container {
  >table {
    margin: 0;
    padding: 0;

    tr:hover td {
      background-color: var(--highlight);
    }

    >* {
      line-height: 1.5rem;
    }
  }
}

// Tracker Table Styles

:root[saved-theme="dark"] {
  --cards-background-hover: rgba(58, 58, 58, 0.537);
  --image-muted: 0.9;
}

:root[saved-theme="light"] {
  --cards-background-hover: #dcdcdc;
  --image-muted: 1;
}

.cards {
  --cards-min-width: 180px;
  --cards-max-width: 200px;
  --cards-image-height: 300px;
  --cards-aspect-ratio: 2/3;
  --cards-columns: repeat(auto-fit, minmax(var(--cards-min-width), var(--cards-max-width)));

  --cards-background: transparent;
  --cards-border: rgba(67, 74, 92, 0.753);
  --cards-border-hover: rgb(138, 138, 138);
  --border-width: 1px;

  @media all and (max-width: 500px) {
    --cards-min-width: 100px;
  }

  @media all and (max-width: 600px) {
    --cards-min-width: 120px;
  }

  table {
    margin: auto;
    font-size: 0.9rem;

    thead {
      display: none;
    }

    tbody {
      padding: 0.5rem 0;
      display: grid;
      grid-template-columns: var(--cards-columns);
      grid-column-gap: 0.75rem;
      grid-row-gap: 0.75rem;

      @media all and (max-width: 500px) {
        --cards-columns: repeat(2, minmax(0, 1fr));
      }

      @media all and (min-width: 500px) and (max-width: 1000px) {
        --cards-columns: repeat(3, minmax(0, 1fr));
      }

      @media all and (min-width: 1000px) and (max-width: 1440px) {
        --cards-columns: repeat(4, minmax(0, 1fr));
      }

      @media all and (min-width: 1440px) {
        --cards-columns: repeat(5, minmax(0, 1fr));
      }

      >tr {
        >td {
          &:not(:first-child) {
            @media (max-width: 400pt) {
              font-size: 80%;
            }
          }
        }
      }
    }

    >tbody {
      >tr {
        border: 1px solid var(--cards-border);
        display: flex;
        flex-direction: column;
        border-radius: 6px;
        transition: box-shadow 0.15s linear;
        max-width: var(--cards-max-width);

        &:hover {
          background-color: var(--cards-background-hover);
          border: 1px solid var(--cards-border-hover);
          box-shadow:
            0 4px 6px 0px rgba(0, 0, 0, 0.05),
            0 1px 3px 1px rgba(0, 0, 0, 0.025);
          transition: box-shadow 0.15s linear;

          >td:not(:last-child) {
            border-bottom: 1px solid var(--cards-border-hover);
          }
        }

        >td {
          white-space: initial;
          flex: 1 1 0;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;

          &:not(:last-child) {
            border-bottom: 1px solid var(--cards-border);
          }

          a {
            &.internal {
              background-color: var(--cards-background);
            }
          }

          >ul {
            width: 100%;
            padding: 0.1em 0;
            margin: 0 auto;
            list-style: disc inside;
          }

          &:has(> img) {
            padding: 0;
            display: block;
            margin: 0;
            width: 100%;
          }

          img {
            aspect-ratio: var(--cards-aspect-ratio);
            width: 100%;
            max-height: var(--cards-image-height);
            vertical-align: bottom;
            opacity: var(--image-muted);

            &:hover {
              opacity: 1;
            }
          }

          .popover {
            img {
              width: auto;
            }
          }
        }
      }
    }
  }
}

// Table Styles Reset in Popover

.cards {
  .popover {

    table,
    table thead,
    table tbody,
    table tr,
    table td,
    table img {
      display: revert;
      border: revert;
      white-space: revert;
    }
  }
}

.cards .popover {
  .table-container {
    >table {
      tr {
        &:hover {
          td {
            background-color: var(--highlight);
          }
        }

        td {
          background-color: var(--light);
        }
      }
    }
  }

  table {
    display: block;
    overflow-x: auto;
    max-width: fit-content;
    white-space: nowrap;

    th {
      padding: 0.4rem 0.7rem;
      border-bottom: 2px solid var(--gray);
    }

    td {
      padding: 0.2rem 0.7rem;
    }

    >tbody {
      >tr {
        border-bottom: 1px solid var(--lightgray);

        &:last-of-type {
          border-bottom: none;
        }

        &:hover {
          border: none;
        }

        >td:not(:last-child) {
          border-bottom: none;
        }
      }
    }
  }
}

// Other Table Styles

.table-wide {
  table {
    display: block;
    overflow-x: auto;
    max-width: fit-content;
    white-space: nowrap;
  }
}

.table-row-numbers {
  table {
    counter-reset: rowNumber;

    tr {
      td:first-child {
        counter-increment: rowNumber;
      }

      td:first-child::before {
        content: counter(rowNumber) ".";
      }
    }
  }
}

.table-lines {
  table {
    tr {
      td {
        border-left: 1px solid var(--lightgray);
        border-bottom: 1px solid var(--lightgray);

        &:last-of-type {
          border-right: 1px solid var(--lightgray);
        }
      }
    }
  }
}

// Normal Table Styles
table:not(.cards table) {
  display: block;
  overflow-x: auto;
  max-width: fit-content;
  white-space: wrap;

  td {
    overflow-wrap: normal;
    hyphens: none;
  }
}

.callout {


&[data-callout="general"] {
  --callout-color: 100, 149, 237; /* Cornflower Blue */
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.1);
  --callout-icon: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 1024 1024"><path fill="currentColor" d="M631.634 512.948c0 65.255-52.706 120.471-120.471 120.471-65.255 0-120.471-52.706-120.471-120.471s52.706-120.471 120.471-120.471 120.471 52.706 120.471 120.471zM481.046 211.772h60.235c17.569 0 30.118 12.549 30.118 30.118v60.235c0 17.569-12.549 30.118-30.118 30.118h-60.235c-17.569 0-30.118-12.549-30.118-30.118V241.89c0-17.569 15.059-30.118 30.118-30.118zm240.941 240.941h60.235c17.569 0 30.118 12.549 30.118 30.118v60.235c0 17.569-12.549 30.118-30.118 30.118h-60.235c-17.569 0-30.118-12.549-30.118-30.118v-60.235c0-17.569 12.549-30.118 30.118-30.118zM481.046 691.144h60.235c17.569 0 30.118 12.549 30.118 30.118v60.235c0 17.569-12.549 30.118-30.118 30.118h-60.235c-17.569 0-30.118-12.549-30.118-30.118v-60.235c0-15.059 15.059-30.118 30.118-30.118zM242.614 452.713h60.235c17.569 0 30.118 12.549 30.118 30.118v60.235c0 17.569-12.549 30.118-30.118 30.118h-60.235c-17.569 0-30.118-12.549-30.118-30.118v-60.235c0-17.569 12.549-30.118 30.118-30.118zM511.163 32.627C245.124 32.627 31.79 248.47 31.79 512c0 266.039 215.843 479.373 479.373 479.373S990.536 775.53 990.536 512 777.203 32.627 511.163 32.627zm0 120.471c198.275 0 358.902 160.627 358.902 358.902S709.438 870.902 511.163 870.902 152.261 710.275 152.261 512s160.627-358.902 358.902-358.902z"></path></svg>');
}
}
