@use "./variables.scss" as *;
@use "./base.scss";

$red: #AF3029;
$orange: #BC5215;
$yellow: #AD8301;
$green: #66800B;
$cyan: #24837B;
$blue: #205EA6;
$purple: #5E409D;
$magenta: #A02F6F;

/* Sidebar top margins */
.left.sidebar,
.right.sidebar {
  margin-top: 2.4rem !important;
}

/* Top of note area */
.breadcrumb-container {
  font-size: 0.9em;

  & a {
    color: #ffffff;
    font-style: italic;
    font-weight: 300;
  }
}

.article-title {
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
}

.content-meta {
  color: var(--gray);
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.tags {
  font-size: 0.8em;
  margin-top: 0 !important;
}

a.tag-link {
  color: var(--darkgray);
  background-color: var(--lightgray) !important;
}

/* Explorer */

.folder-outer {
  font-size: 0.9rem;

  & li {
    margin: 0.4em 0;
  }
}

/* Recent notes */

.recent-notes {
  & .recent-ul {
    font-size: 0.85rem;

    & h3 {
      font-size: 1rem;
    }
  }

  & > ul.recent-ul > li {
    margin: 0;
  }

  & .tag-link {
    display: none;
  }
}
/* Typography Styles */
/* Typography Styles */
.page {
  & article {
    /* General header styles */
    & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
      font-family: "Inter", sans-serif;
      padding-bottom: 0.3em;
      border-bottom: 1px solid var(--lightgray);
    }

    & > h1 {
      font-size: 1.7em; /* Largest for main titles */
      font-weight: 800; /* Extra bold for emphasis */
      color: #FFEB3B; /* Bright Yellow */
    }

    & > h2 {
      font-size: 1.5em; /* Slightly smaller than H1 */
      font-weight: 700; /* Bold for subheadings */
      color: #03A9F4; /* Light Blue */
    }

    & > h3 {
      font-size: 1.25em; /* Medium-sized */
      font-weight: 700;
      color: #8BC34A; /* Light Green */
    }

    & > h4 {
      font-size: 1.1em; /* Smaller than H3 */
      font-weight: 700;
      color: #E91E63; /* Pink */
    }

    & > h5 {
      font-size: 0.95em; /* Smaller header */
      font-weight: 600;
      color: #9C27B0; /* Purple */
    }

    & > h6 {
      font-size: 0.9em; /* Smallest header */
      font-weight: 500; /* Lightest weight among headers */
      color: #FF9800; /* Orange */
    }

    /* Body and Paragraph Text */
    & p, & span {
      font-family: "Inter", sans-serif;
      font-size: 1rem;
      font-weight: 400; /* Regular weight for body text */
      color: #FFFFFF; /* Standard body text color */
      line-height: 1.5; /* Comfortable line spacing */
    }

    /* Bold Styling in Body/Paragraph Text */
    & p strong, & p b {
      font-weight: 700; /* Bold weight for body text */
      color: #FF9800; /* Orange for emphasis in body */
    }

    /* Bold Styling in Headers */
    & > h1 strong, & > h2 strong, & > h3 strong, & > h4 strong, & > h5 strong, & > h6 strong,
    & > h1 b, & > h2 b, & > h3 b, & > h4 b, & > h5 b, & > h6 b {
      font-weight: 600; /* Increase weight for bold in headers */
      /* Color remains unchanged, inheriting the header's default color */
    }
  }
}


.page-title {
  font-size: 1.4rem;

  & a {
    color: var(--dark);
  }
}

// Table Hover Highlight

.table-container {
  >table {
    margin: 0;
    padding: 0;

    tr:hover td {
      background-color: var(--highlight);
    }

    >* {
      line-height: 1.5rem;
    }
  }
}

// Tracker Table Styles

:root[saved-theme="dark"] {
  --cards-background-hover: rgba(58, 58, 58, 0.537);
  --image-muted: 0.9;
}

:root[saved-theme="light"] {
  --cards-background-hover: #dcdcdc;
  --image-muted: 1;
}

.cards {
  --cards-min-width: 180px;
  --cards-max-width: 200px;
  --cards-image-height: 300px;
  --cards-aspect-ratio: 2/3;
  --cards-columns: repeat(auto-fit, minmax(var(--cards-min-width), var(--cards-max-width)));

  --cards-background: transparent;
  --cards-border: rgba(67, 74, 92, 0.753);
  --cards-border-hover: rgb(138, 138, 138);
  --border-width: 1px;

  @media all and (max-width: 500px) {
    --cards-min-width: 100px;
  }

  @media all and (max-width: 600px) {
    --cards-min-width: 120px;
  }

  table {
    margin: auto;
    font-size: 0.9rem;

    thead {
      display: none;
    }

    tbody {
      padding: 0.5rem 0;
      display: grid;
      grid-template-columns: var(--cards-columns);
      grid-column-gap: 0.75rem;
      grid-row-gap: 0.75rem;

      @media all and (max-width: 500px) {
        --cards-columns: repeat(2, minmax(0, 1fr));
      }

      @media all and (min-width: 500px) and (max-width: 1000px) {
        --cards-columns: repeat(3, minmax(0, 1fr));
      }

      @media all and (min-width: 1000px) and (max-width: 1440px) {
        --cards-columns: repeat(4, minmax(0, 1fr));
      }

      @media all and (min-width: 1440px) {
        --cards-columns: repeat(5, minmax(0, 1fr));
      }

      >tr {
        >td {
          &:not(:first-child) {
            @media (max-width: 400pt) {
              font-size: 80%;
            }
          }
        }
      }
    }

    >tbody {
      >tr {
        border: 1px solid var(--cards-border);
        display: flex;
        flex-direction: column;
        border-radius: 6px;
        transition: box-shadow 0.15s linear;
        max-width: var(--cards-max-width);

        &:hover {
          background-color: var(--cards-background-hover);
          border: 1px solid var(--cards-border-hover);
          box-shadow:
            0 4px 6px 0px rgba(0, 0, 0, 0.05),
            0 1px 3px 1px rgba(0, 0, 0, 0.025);
          transition: box-shadow 0.15s linear;

          >td:not(:last-child) {
            border-bottom: 1px solid var(--cards-border-hover);
          }
        }

        >td {
          white-space: initial;
          flex: 1 1 0;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;

          &:not(:last-child) {
            border-bottom: 1px solid var(--cards-border);
          }

          a {
            &.internal {
              background-color: var(--cards-background);
            }
          }

          >ul {
            width: 100%;
            padding: 0.1em 0;
            margin: 0 auto;
            list-style: disc inside;
          }

          &:has(> img) {
            padding: 0;
            display: block;
            margin: 0;
            width: 100%;
          }

          img {
            aspect-ratio: var(--cards-aspect-ratio);
            width: 100%;
            max-height: var(--cards-image-height);
            vertical-align: bottom;
            opacity: var(--image-muted);

            &:hover {
              opacity: 1;
            }
          }

          .popover {
            img {
              width: auto;
            }
          }
        }
      }
    }
  }
}

// Table Styles Reset in Popover

.cards {
  .popover {

    table,
    table thead,
    table tbody,
    table tr,
    table td,
    table img {
      display: revert;
      border: revert;
      white-space: revert;
    }
  }
}

.cards .popover {
  .table-container {
    >table {
      tr {
        &:hover {
          td {
            background-color: var(--highlight);
          }
        }

        td {
          background-color: var(--light);
        }
      }
    }
  }

  table {
    display: block;
    overflow-x: auto;
    max-width: fit-content;
    white-space: nowrap;

    th {
      padding: 0.4rem 0.7rem;
      border-bottom: 2px solid var(--gray);
    }

    td {
      padding: 0.2rem 0.7rem;
    }

    >tbody {
      >tr {
        border-bottom: 1px solid var(--lightgray);

        &:last-of-type {
          border-bottom: none;
        }

        &:hover {
          border: none;
        }

        >td:not(:last-child) {
          border-bottom: none;
        }
      }
    }
  }
}

// Other Table Styles

.table-wide {
  table {
    display: block;
    overflow-x: auto;
    max-width: fit-content;
    white-space: nowrap;
  }
}

.table-row-numbers {
  table {
    counter-reset: rowNumber;

    tr {
      td:first-child {
        counter-increment: rowNumber;
      }

      td:first-child::before {
        content: counter(rowNumber) ".";
      }
    }
  }
}

.table-lines {
  table {
    tr {
      td {
        border-left: 1px solid var(--lightgray);
        border-bottom: 1px solid var(--lightgray);

        &:last-of-type {
          border-right: 1px solid var(--lightgray);
        }
      }
    }
  }
}

// Normal Table Styles
table:not(.cards table) {
  display: block;
  overflow-x: auto;
  max-width: fit-content;
  white-space: wrap;

  td {
    overflow-wrap: normal;
    hyphens: none;
  }
}
